name: build-release

on:

  pull_request:
  push:
    tags:
      - '*'

  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        default: '6.X.X'

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: Determine version
        id: version
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          else
            echo "version=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-mingw-w64 make tar

      - name: Compile (pack-release.sh)
        env:
          VERSION: ${{ steps.version.outputs.version }}
        run: |
          chmod +x ./pack-release.sh
          ./pack-release.sh "${VERSION}"

      - name: Upload package
        uses: actions/upload-artifact@v4
        with:
          name: Release ${{ steps.version.outputs.version }}
          path: mo2installer-${{ steps.version.outputs.version }}.tar.gz
          if-no-files-found: error
          retention-days: 30

      - name: Create Release
        uses: softprops/action-gh-release@v2.4.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: Release ${{ github.ref_name }}
          files: mo2installer-${{ github.ref_name }}.tar.gz
          tag_name: ${{ github.ref_name }}